.columns > div {
    display: flex;
    flex-direction: column;
}


.columns > div > div > * {
    font-size: 1.313em;
}

.columns img {
    width: 100%;
}

@media (min-width: 768px) {
    .columns > div {
        display: flex;
        align-items: center;
        flex-direction: unset;
    }

    .columns > div > div {
        flex: 1;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }
}

/* welcome columns */
.section.welcome .columns > div {
    justify-content: center;
    align-items:  center;
}

.section.welcome .columns > div > div {
    max-width: 38.625em;
}

.section.welcome .columns > div > div:nth-child(2) {
    margin-left: 3.986em;
    flex: 0 1 31.250em;
}

@media only screen and (max-width: 767px) {
    .section.welcome .columns {
        width: 21.25em;
        margin: 2.875em auto 3.188em
    }

    .section.welcome .columns > div > div:nth-child(1) {
        height: 14.624em;
    }

    .section.welcome .columns > div > div:nth-child(2) {
        margin-left: unset;
        margin-top: 1.625em;
        width: 19.438em;
    }
}