/* header and nav layout */
header .nav-ticker {
  background-color: #041e3a;
  height: 19px;
  padding: 0 calc(50% - 665px);
}

header .nav-ticker, header .nav-ticker p, header .nav-ticker a:any-link {
  color: #fff;
  margin: 0;
  font-family: 'Founders Grotesk Mono Regular',Arial,Helvetica,sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: .625rem;
  letter-spacing: .0875rem;
  line-height: 1.35rem;
  text-align: center;
}

header nav>div {
  display: flex;
  flex-direction: row;
}

header .nav-ticker>div {
  display: flex;
}

header .nav-ticker>div p {
  display: none;
}

header .nav-ticker>div p:first-child {
  display: block;
}

header .nav-ticker>div>div {
  min-height: 19px;
  padding: 0;
  overflow: hidden;
  margin: 0 0 0 1rem;
  text-transform: uppercase;
}

header .nav-ticker>div>div:first-child {
  margin: auto;
  text-transform: none;
}

header nav {
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100vw;
  box-sizing: border-box;
  padding: 0.9375rem 3.4375rem;
  min-height: 4.4375rem;
}

header nav:hover, header nav.scroll {
  background-color: #fff;;
}

header nav.scroll {
  top: 0;
}

@media screen and (min-width: 960px) {
  header nav {
    padding: 0.9375rem 3.4375rem;
    min-height: 4.4375rem;
  }
}

@media screen and (min-width: 1440px) {
  header nav {
    padding: 0.9375rem calc(50% - 665px);
  }
}

header nav .nav-logo {
  margin-right: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2.5rem;
}

header nav .nav-logo .icon-logo {
  display: block;
  width: 269px;
  height: 20px;
}

header nav .nav-menu {
  display: flex;
  flex-direction: column;
  font-family: "Founders Grotesk Text Regular",Arial,Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #041e3a;
  font-size: .6875rem;
  letter-spacing: .0563rem;
}

header nav .nav-menu ul {
  padding: 0;
}

header nav .nav-menu>div:first-child {
  display: block;
  padding: 0.8125rem 2.0625rem 0.8125rem 0;
}

header nav .nav-menu>div:first-child a {
  text-transform: uppercase;
}

header nav .nav-menu>div:nth-child(2) {
  /* height: 100%; */
  padding: 1.625rem 3.75rem 0.75rem;
  max-width: 90rem;
  margin: 0 auto;
  background-color: #fff;
  position: absolute;
  z-index: 20;
  margin-top: 2.5rem!important;
  left: 0;
  width: 100%;
  transition: opacity .3s ease-in,max-height .3s ease-in;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  visibility: hidden;
  transition-delay: .3s;
  transition-timing-function: ease-out;
}

header nav .nav-menu>div:nth-child(2).visible {
  visibility: visible;
}

header nav .nav-menu>div:nth-child(2) div {
  display: block;
}

header nav .nav-menu>div:nth-child(2)>div {
  padding: 0 0.3125rem 0 1.25rem;
}

header nav .nav-menu>div:nth-child(2)>div:first-child {
  padding: 0 4.0625rem 0 0;
}

header nav .nav-menu>div:nth-child(2) a {
  font-weight: 400;
  padding: 0;
  position: static;
  line-height: 1rem;
  left: 0;
  font-size: .75rem;
  letter-spacing: .025rem;
  color: #767676;
}

header nav .nav-menu>div:nth-child(2) p, header nav .nav-menu>div:nth-child(2) p a {
  color: var(--text-color);
  display: inline-block;
  font-family: LeJeuneDeck-Regular,"Times New Roman",Times,serif;
  font-size: 1rem;
  left: 0;
  line-height: 1.2;
  position: relative;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .0625rem;
  margin: 0;
}

header nav .nav-menu>div:nth-child(2) li {
  float: none!important;
  padding: 0 0 0.8125rem;
  display: block;
}

header nav .nav-icons {
  margin-left: auto;
}

header nav .nav-icons ul {
  margin: 0;
  list-style-type: none;
}