/* block specific CSS goes here */

.hero > div > div {
    position: relative;
}

.hero {
    max-height: 35.313em;
    overflow-y: hidden;
}

.hero > div > div > picture > img {
    width: 100%;
}

.hero .title-group {
    width: 38.250em;
    position: absolute;
    top: 9em;
    left: 16.563em;
}

.hero .title-group h1 {
    margin-bottom: 1.563em;
}

.hero p {
    width: 19em;
    font-size: 1.33em;
    line-height: 1.333em;
    letter-spacing: 0.014em;
}