.teaser {
    background: transparent;
    position: relative;
    overflow: hidden;
}

.teaser .teaser-background {
    position: absolute;
    width: 100%;
}

.teaser .teaser-background img {
    width: 100%;
}

.teaser .teaser-content {
    position: relative;
    z-index: 1;
}

/* fullwidth teaser */
.story .teaser .teaser-content {
    width: calc(30.500em - 2 * 3.875em);
    padding: 3.875em;
}

.story .teaser .pretitle {
    font-family: 'Founders Grotesk Mono Regular', sans-serif;
    font-size: 0.688em;
    letter-spacing: 0.091em;
    line-height: 1em;
    margin-bottom: 0.727em;
    text-transform: uppercase;
}

.story .teaser .title {
    font-size: 3.25em;
    letter-spacing: 0.019em;
    margin-bottom: 0.91em;
}

.story .teaser .description {
    font-size: 1.188em;
    letter-spacing: 0.014em;
    line-height: 1.474em;
    margin-bottom: 1.71em;
}

.story .teaser .link {
    font-family: 'Founders Grotesk Mono Regular', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid;
    font-size: 0.75em;
    display: inline-block;
}

.story .teaser-wrapper {
    width: 83em;
}

.story .teaser-wrapper .teaser {
    height: 100%;
}

/* image teaser */
.story .teaser.image .teaser-content {
    width: 54.188em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 3.875em 3.875em;
}

.story .teaser.image .teaser-content .description,
.story .teaser.image .teaser-content .link {
    width: 22em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.welcome .teaser.image .image {
    margin-bottom: 2em;
}

.story.app .teaser.image .image {
    margin-bottom: -5em;
}

.story.app .teaser.image .teaser-content {
    padding-bottom: 2.7em;
}

.welcome .teaser.image .teaser-content .description {
    font-size: 1.188em;
    line-height: 1.579em;
    width: 34em;
    margin: 0 auto;
}

.welcome .teaser.image .pretitle {
    position: absolute;
    top: 4em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.125em;
    letter-spacing: 0.019em;
    line-height: 1.206em;
}

.welcome .teaser.image .title {
    position: absolute;
    top: 8em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.125em;
    letter-spacing: 0.019em;
    line-height: 1.206em;
}

.welcome .teaser.image.invert .title,
.welcome .teaser.image.invert .pretitle {
    color: white;
}

.welcome .teaser.image .title img.rl-signature {
    width: 5.725em;
}

.welcome .teaser.image.invert .title img.rl-signature {
    filter: invert(1) brightness(2);
}

.welcome .teaser.image {
    width: 69.000em;
    margin-left: auto;
    margin-right: auto;
}