/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
body {
  font-family: LeJeuneDeck-Regular, sans-serif;
  font-size: 21.3333px;
  color: #041E3A; /* rgb(4, 30, 58) */
  -webkit-font-smoothing: antialiased;
  display: none;
}

* {
  border-color: #041E3A;
}

body.appear {
  display: unset;
}

h1, h2, h3, h4 {
  font-size: 1em;
  font-weight: inherit;
}

body, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 1em;
  line-height: 1.524em;
  letter-spacing: 0.014em;
}

a {
  color: inherit;
  text-decoration: none;
  letter-spacing: .0188rem;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1919px) {
  body {
    font-size: 1.1111vw;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 4.2553vw;
  } 
}

main {
  width: 100%;
}

img {
  display: inline-block;
  max-width: 100%;
  width: auto;
  height: auto;
}

[data-align='center'] {
  text-align: center;
}

[data-align='right'] {
  text-align: right;
}

/* image signatures */
.image-signature.rl-at-home {
  width: 16.375em;
  height: 5.160em;
}

.image-signature.rl-signature {
  width: 9.438em;
}

.app-store {
  height: 2.313em;
  width: auto;
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}

main .section {
  max-width: 1920px;
  margin: 0 auto 2.063em;
}

.section.welcome {
  margin: 5.063em auto 5.375em
}